html {
    height: 100%
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(/static/images/background2.jpg);
}
#map_canvas {
    border-radius: 10px;
    margin: auto;
}
img {
    width: 350px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
}
p.description {
    display: none;
    width: 350px;
    padding: 10px;
    background-size: contain;
    border-radius: 10px;
}
ul.image{
    list-style-type: none;
    position: relative;
    text-align: center;
}
ul#menu {
    list-style:none;
    margin:5px auto 0 auto;
    width: 750px;
    height: 30px;
    background-color: #F57C85;
    border-radius: 10px 10px 0 0;
    padding:10px;
    overflow:auto; /* makes sure the container fits the floated list-items below */
    text-align: center;
}
ul#menu li{
    position:relative; /* allows us to set the z-index */
    z-index:5; /* raises the z-index of the line item 5 levels all other elements */
    margin:3px 5px;
    padding:5px 10px 4px;
    float:left; /* floats list items to the left, creating a horizontal menu */
}
ul#menu li.backLava {
    background-color:#F8CD64;
    border-radius: 10px;
}
ul#menu a {
    color: white;
    text-decoration: none;
}
#container {
    margin: 0 auto 0 auto;
    padding: 0;
    background: white;
    width: 770px;
}
#content {
    height: 100%;
    margin: 0 40px 40px 40px;
    padding: 30px 10px;
}
p.about {
    width: 335px;
    font-family: fantasy;
    float: right;
    margin: 0 auto 0 auto;
}
img#about {
    width: 335px;
    border-radius: 10px;
    margin-right: 335px;
}
.field {
    height: 25px;
    width: 450px;
}
.text-field {
    width: 450px;
}
form {
    padding-bottom: 30px;
}
.sorting {
    color: #F57C85;
    text-decoration: none;
}
.sort-asc {
    color: white;
    border-radius: 10px;
    background-color: #F8CD64;
    padding: 5px;
}
.sort-desc {
    color: white;
    border-radius: 10px;
    background-color: #F8CD64;
    padding: 5px;
}
span.sorting {
    color: #F57C85;
}
span.sorting-title {
    color: black;
}
ul.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #F57C85;
}
ul li {
    display: inline;
}
li.other {
    width: 10px;
}
li.active {
    color: white;
    border-radius: 10px;
    background-color: #F8CD64;
    padding: 5px;
    width: 10px;
}
li.disabled {
    color: #F57C85;
    width: 10px;
}
ul.pagination a {
    text-decoration: none;
    color: inherit;
}
