{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div id="about">
        <h3> {% trans "About us" %} </h3>
        <img class="about" src="/static/img/photo.JPG">
        <br/>
            <div id="about_text">
                {% trans "Candy composition is always a good present, a decoration, and a nice surprise." %}
                {% trans "We make compositions of any size and style. We are open for your creative ideas." %}
                {% trans  "You also can choose candies on your own or we can do it for you" %}
            </div>
    </div>
{% endblock %}
