{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div id="about">
        <h3> {% trans "About us" %} </h3>
        <p class="about"> {% trans "Candy composition is always a sweet present, a decoration, and a nice surprise"%}
        <br/>
        {% blocktrans %}
            We make compositions of any size and style. We are open for your creative ideas.
            You also can choose candies on your own or we can do it for you
        {% endblocktrans %}
        </p>
        <img src="/static/images/photo.JPG">
    </div>
{% endblock %}
