{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load sweets_extra %}


{% block extra_js %}
    <script src="/static/js/lightbox-2.6.min.js"></script>
{% endblock %}

{% block extra_css %}
    <link href="/static/css/lightbox.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="sort_page">
        {% include 'sortable_listview/sorting.html' %}
        <span class="pager">{% include 'sortable_listview/pagination.html' %}</span>
    </div>
    <ul class="image">
            {% for product in object_list %}
                <a href="{{ product.image.url }}"
                   data-lightbox="image-1"
                   title="{{ product.name }}">
                  <img class="product" src="{{product.image|thumbnail }}" />
                </a>
                <span class="description"><h3>{{ product.name }}</h3>
                    <b>{% trans "Product price" %}:</b> {{ product.price }} {% trans  "uah" %}
                    <br /> <b>{% trans "Content" %}:</b> {{ product.content }}
                    <br /> <b>{% trans "Size" %}:</b> {{ product.height }}х{{ product.width }}
                    <br /> <b>{% trans "Pre-order" %}:</b> {{ product.pre_order }}
                 </span>
                <br />
            {% endfor %}
    </ul>
    {% include 'sortable_listview/pagination.html' %}
{% endblock %}
