{% extends "base.html" %}
{% load staticfiles %}

{% block extra_js %}
    <script type="text/javascript" src="/static/js/application.js" ></script>
{% endblock %}

{% block content %}
    <ul class="image">
        {% for product in object_list %}
        <li><h3>{{ product.name }}</h3>
                <img src="{{ product.image.url }}"/>
         <p class="description"><b>Цена:</b> {{ product.price }} грн
             <br /> <b>Состав:</b> {{ product.content }}
             <br /> <b>Размер:</b> {{ product.height }}х{{ product.width }}
             <br /> <b>Предзаказ:</b> {{ product.pre_order }}
          </p>
        </li>
        {% endfor %}
    </ul>

    {# .... **pagination section** .... #}
    {% if page_obj.has_previous %}
          <a class="paginator" href= "?page={{ page_obj.previous_page_number }}">previous </a>
        {% endif %}

        <span class="paginator">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
          <a class="paginator" href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
{% endblock %}
