{% extends "base.html" %}
{% load staticfiles %}

{% block extra_js %}
    <script type="text/javascript" src="/static/js/application.js" ></script>
{% endblock %}

{% block content %}
    {% include 'sortable_listview/sorting.html' %}
    <ul class="image">
        {% for product in object_list %}
        <li><h3>{{ product.name }}</h3>
                <img src="{{ product.image.url }}"/>
         <p class="description"><b>Цена:</b> {{ product.price }} грн
             <br /> <b>Состав:</b> {{ product.content }}
             <br /> <b>Размер:</b> {{ product.height }}х{{ product.width }}
             <br /> <b>Предзаказ:</b> {{ product.pre_order }}
          </p>
        </li>
        {% endfor %}
    </ul>
    {% include 'sortable_listview/pagination.html' %}
{% endblock %}
